#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh + 20px);
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7c7ecf185580241.67dcb2b04a1c8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Lo manda al fondo */
}

.contenido {
  position: relative;
  z-index: 1;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
